@model TaskN1.Models.Person

@{
    ViewData["Title"] = "ფიზიკური პირის დამატება";
}




<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                @*<input asp-for="Sex" class="form-control" />*@
                @*<span asp-validation-for="Sex" class="text-danger"></span>*@

                <p> </p>
                <input name="Sex" type="radio" value="მამაკაცი" required="required" />
                <span>მამაკაცი</span> <br />
                <input name="Sex" type="radio" value="ქალი" required="required" />
                <span>ქალი</span> <br />
            </div>
            <div class="form-group">
                <label asp-for="PersonalID" class="control-label"></label>
                <input asp-for="PersonalID" class="form-control" />
                <span asp-validation-for="PersonalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonBirthDate" class="control-label"></label>
                <input asp-for="PersonBirthDate" class="form-control" />
                <span asp-validation-for="PersonBirthDate" class="text-danger"></span>
                @ViewData["Message"]
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Picture" class="control-label"></label>
            <input asp-for="Picture" class="form-control" />
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <div asp-controller="People"asp-action="SingleFile"
                    enctype="multipart/form-data"method="post">
                    <input type="file" name="file" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ConnectedPeople" class="control-label"></label>
                <input asp-for="ConnectedPeople" class="form-control" />
                <span asp-validation-for="ConnectedPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"> მთავარ გვერდზე დაბრუნება</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
